<style>
.node {
  cursor: pointer;
  color: #3182bd;

}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

#main-svg-advanced-visualizer {
    width: 100%;
    height: 100%;
}

.active-node rect {
  stroke-width: 2px;
  fill: #e5e4e4;
}


.node:hover rect {
  fill: #e6f7ff;
  stroke: #b3daff;
  cursor: pointer;
}

</style>
<script src="https://d3js.org/d3.v7.js"></script>
<script>
    function nodeClick(event, d) {

      event.preventDefault();

      d3.selectAll(".active-node rect")
        .style("fill", "white");

      d3.selectAll(".active-node").classed("active-node", false);

      d3.select(event.currentTarget)
        .classed("active-node", true)
        .select("rect")
        .style("fill", "#e5e4e4");

      dispatchNodeFocusEvent(d.id);
    }
</script>
<svg id="main-svg-advanced-visualizer">

</svg>
<div id="tooltip" class="tooltip" style="position: absolute; display: none; padding: 10px; background: rgba(0, 0, 0, 0.6); color: white; border-radius: 5px; font-size: 16px; pointer-events: none; min-width: 100px;"></div>
<script>

    function renderAdvancedGraph() {
        var nodes = [
            {% for n in nodes %}
            {
                name: "node_{{n.id}}",
                data: {{ n.data | tojson }},
                id: "{{ n.id }}",
            },
                {% endfor %}
        ];

        var links = [
            {% for e in edges %}
            {
                source: "node_{{e.src.id}}",
                target: "node_{{e.dest.id}}",
                data: {{ e.data | tojson }},
            },
            {% endfor %}
        ];

        var directed = {{ directed | tojson }};

        links = links.map(link => ({
            ...link,
            source: nodes.find(n => n.name === link.source),
            target: nodes.find(n => n.name === link.target),
        }));

        var svg = d3.select('#main-svg-advanced-visualizer');
        var g = svg.append('g');

        var zoom = d3.zoom()
            .on("zoom", function (event) {
                g.attr("transform", event.transform);
            });

        svg.call(zoom);

        console.log(nodes);
        console.log(links);
        console.log(directed);

        var addedLinks = new Map();

        var linksFiltered = links.filter(function(link) {
            let linkKey = link.source.id + "-" + link.target.id;
            let reverseLinkKey = link.target.id + "-" + link.source.id;

            if (!directed) {
                if (addedLinks.has(linkKey) || addedLinks.has(reverseLinkKey)) {
                    console.log("Duplicate link found: ", linkKey);
                    return false;
                }
            }

            addedLinks.set(linkKey, true);
            return true;
        });

         // Initialize a map to track links between the same nodes
        var linkCounts = {};

        linksFiltered.forEach(function(link) {
            var key = link.source.id + "-" + link.target.id;
            var reverseKey = link.target.id + "-" + link.source.id;

            if (!linkCounts[key] && !linkCounts[reverseKey]) {
                linkCounts[key] = 0;
            }else if(linkCounts[reverseKey]){
                key = reverseKey;
            }

            linkCounts[key]++;
            link.index = linkCounts[key];
        });
        console.log(linkCounts);
        console.log(linksFiltered);

        var simulation = d3.forceSimulation(nodes)
        .force("link", d3.forceLink(linksFiltered).id(function(d) { return d.id; }).distance(300))
        .force("charge", d3.forceManyBody().strength(100))
        .force("center", d3.forceCenter(700 / 2, 700 / 2))
        .force("gravity", d3.forceManyBody().strength(-100))
            .force("collide", d3.forceCollide().radius(80))
        .on("tick", tick);

        var tooltip = d3.select("#tooltip");

        function showTooltip(event, d) {
          var dataStrings = Object.entries(d.data).map(function([key, value]) {
            return `${key}: ${value}`;
          });

          var tooltipText = dataStrings.join("<br>");

          tooltip
            .html(tooltipText)
            .style('display', 'inline-block')
            .style('left', (event.pageX + 10) + 'px')
            .style('top', (event.pageY + 10) + 'px');
        }

        function hideTooltip() {
          tooltip.style('display', 'none');
        }

        // Function to generate a path for each link
        function linkPath(d) {
            var dx = d.target.x - d.source.x,
                dy = d.target.y - d.source.y,
                dr = Math.sqrt(dx * dx + dy * dy) * d.index; // Increase the curvature based on the link's index

            return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
        }

        var link = g.selectAll('.link')
        .data(linksFiltered)
        .enter().append('path')
        .attr('class', 'link')
        .style('stroke-width', d => d.data.weight ? 1 + d.data.weight * 0.5 : 1)
        .attr('d', linkPath)
        .on('mouseover', showTooltip)
        .on('mouseout', hideTooltip);

        var node = g.selectAll('.node')
        .data(nodes)
        .enter().append('g')
        .attr('class', 'node')
        .attr('id', d => d.name)
        .call(drag(simulation))
        .on('click', nodeClick)
        .on('mouseover', showTooltip)
        .on('mouseout', hideTooltip);

        var rectWidth = 100; // Width of the rectangle
        var initialRectHeight = 30; // Initial height of the rectangle
        var textSize = 12; // Size of the text
        var lineSpacing = 15; // Spacing between lines of text

        node.each(function(d) {
            var nodeGroup = d3.select(this);
            var keys = Object.keys(d.data);

            var totalTextLines = 1 + keys.length; // 1 for the name, rest for data keys
            var totalHeightNeeded = textSize + (totalTextLines * lineSpacing);

            // Adjust the rectangle height to fit all text
            var rectHeight = Math.max(initialRectHeight, totalHeightNeeded + 10);

            // Append rectangle
            nodeGroup.append('rect')
                .attr('width', rectWidth)
                .attr('height', rectHeight)
                .attr('x', -rectWidth / 2)
                .attr('y', -rectHeight / 2)
                .style('fill', 'white')
                .style("stroke", "#9ecae1")
                .style('stroke-width', '1.5px');

            var startYPosition = -rectHeight / 2 + (rectHeight - totalHeightNeeded) / 2 + textSize;

            // Append name text first
            nodeGroup.append('text')
                .attr('text-anchor', 'middle')
                .attr('x', 0)
                .attr('y', startYPosition)
                .attr('font-size', textSize + 'px')
                .attr('font-family', 'sans-serif')
                .attr('fill', '#9ecae1')
                .text(d.name);

            // Append data texts below the name text
            keys.forEach((key, index) => {
                nodeGroup.append('text')
                    .attr('text-anchor', 'middle')
                    .attr('x', 0)
                    .attr('y', startYPosition + (lineSpacing * (index + 1)))
                    .attr('font-size', textSize + 'px')
                    .attr('font-family', 'sans-serif')
                    .attr('fill', 'gray')
                    .text(key + ": " + d.data[key]);
            });
        });


        function tick() {
        node.attr("transform", d => `translate(${d.x},${d.y})`);
        link.attr("d", linkPath);
        }

        function drag(simulation) {
            function dragstarted(event) {
              if (!event.active) simulation.alphaTarget(0.3).restart();
              event.subject.fx = event.subject.x;
              event.subject.fy = event.subject.y;
            }

            function dragged(event) {
              event.subject.fx = event.x;
              event.subject.fy = event.y;
            }

            function dragended(event) {
              if (!event.active) simulation.alphaTarget(0);
              event.subject.fx = null;
              event.subject.fy = null;
            }

            return d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended);
        }
    }

renderAdvancedGraph();
    
</script>