<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}" />
    <script src="{% static 'script.js' %}?{% now 'U' %}"></script>
    {% block head_css %}{% endblock head_css %}
  </head>
  {% block body %}{% endblock body %}
</html>
