{% extends "base.html" %} {% block title %}Graph Expressiveness{% endblock title %} {% block body %}
<body onload="changeVisualizer()">
  <div id="container">
    <aside class="menu" id="workspace-bar">
      <p class="menu-label">Workspaces</p>
      <ul class="menu-list">
        {% for workspace in workspaces %} {% if workspace.id == active_ws_id %}
        <li class="highlight"><a href="{%url 'workspace' workspace.id %}">{{ workspace.name }}</a></li>
        {% else %}
        <li><a href="{%url 'workspace' workspace.id %}">{{ workspace.name }}</a></li>
        {% endif %} {% endfor %}
        <li>
          <a href="/workspace-config" id="create-workspace" class="row">Create a new workspace <span class="material-symbols-outlined">add_circle</span></a>
        </li>
      </ul>
    </aside>
    <div class="vertical-container" id="left-panel">
      <nav class="panel" id="visualizer-select-panel">
        <p class="panel-heading">Visualizer</p>
        <div class="panel-block">
          <div class="select">
            <select id="visualizer-select" onchange="selectVisualizer(this.value)">
              {% for visualizer in visualizers %}
                <option value="{{ visualizer.name }}" {% if visualizer.name == current_visualizer %}selected{% endif %}>{{ visualizer.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </nav>
      <nav class="panel" id="tree-view-panel">{% include "tree_view.html" %}</nav>
      <nav class="panel" id="bird-view-panel">
        <p class="panel-heading">Bird View</p>
        <div class="panel-block">
          {%if bird_views %} {% for bird_view in bird_views %}
          <div class="main-view is-hidden" id="bird-view-{{ bird_view.visualizer_id }}">{{ bird_view.html|safe }}</div>
          {% endfor %} {% else %}
          <h2 color="red">No workspace selected</h2>
          {% endif %}
        </div>
      </nav>
    </div>
    <div class="vertical-container">
      <nav class="panel" id="search-and-filter-panel">
        <p class="panel-heading">Search and filter</p>
        <div class="panel-block">
          <div class="filter-form">
            <input id="search-input" class="input" type="text" placeholder="Search" />
          </div>
          <button class="button is-light">Search</button>
        </div>
        <div class="panel-block">
          <span class="filter-form">
            <input id="filter-attribute-input" class="input" type="text" placeholder="Attribute" />
            <div class="select">
              <select>
                <option>&lt;</option>
                <option>&gt;</option>
                <option>&lt;=</option>
                <option>&gt;=</option>
                <option>==</option>
                <option>!=</option>
              </select>
            </div>
            <input id="filter-value-input" class="input" type="text" placeholder="Value" />
          </span>
          <button class="button is-light">Filter</button>
        </div>
        <div class="panel-block">
          <p>Active filters:</p>
        </div>
      </nav>
      <nav class="panel" id="main-view-panel">
        <p class="panel-heading">Main View</p>
        <div style="height: 100%">
          {% if content %}
            {{ content|safe }}
          {% else %}
            <h2 style="color: red;">No workspace selected</h2>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
</body>
{% endblock body %}
