<style>
  .node {
    cursor: pointer;
    color: #3182bd;
  }

  .link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }

  text {
    white-space: pre-line;
  }

  #svg-container {
    overflow: scroll;
  }
</style>
<script>
  function nodeClick(el) {
    console.log(el);
    alert("ID: " + el.name);
  }
</script>
<div id="svg-container">
  <svg width="350" height="500" id="tree-view-svg"></svg>
</div>
{{ tree_view_data|json_script:"tree-view-data" }} {{ nodes_dict|json_script:"nodes-dict" }}
<script>
  let data = JSON.parse(document.getElementById("tree-view-data").textContent);
  let allNodes = JSON.parse(document.getElementById("nodes-dict").textContent);

  // initialization of root node
  data.children = [];
  for (const childrenId of data.children_ids) {
    const childClone = structuredClone(allNodes[childrenId]);
    childClone.expanded = false;
    childClone.children = [];
    data.children.push(childClone);
  }

  console.log(data);

  function emptySvg() {
    d3.select("#tree-view-svg").selectAll("*").remove();
  }

  function getYOffset(node) {
    if (node.parent == null) return 0;

    const siblings = node.parent.children;
    const nodeChildIndex = siblings.indexOf(node);

    if (nodeChildIndex == 0) {
      return Object.keys(node.parent.data.data).length + 1;
    }

    const prevSibling = siblings[nodeChildIndex - 1];

    if (!prevSibling.data.expanded) return 1;

    return Object.keys(siblings[nodeChildIndex - 1].data.data).length + 1;
  }

  function calculateSvgHeight(nodes, nodeSize) {
    const lastNode = nodes[nodes.length - 1];
    const lastNodeKeysOffset = Object.keys(lastNode.data.data).length + 1;

    return (lastNode.index + lastNodeKeysOffset) * nodeSize + nodeSize;
  }

  function calculateSvgWidth(nodes, nodeSize) {
    let maxWidth = 0;

    for (const node of nodes) {
      if (node.data.expanded) {
        for (const [key, value] of Object.entries(node.data.data)) {
          let elWidth = nodeSize * (node.depth + 2) + 10 * value.toString().length;
          if (elWidth > maxWidth) maxWidth = elWidth;
        }
      }
      let elWidth = nodeSize * (node.depth + 2) + 10 * node.data.name.toString().length;
      if (elWidth > maxWidth) maxWidth = elWidth;
    }

    return maxWidth;
  }

  function populateNodeChildren(node) {
    nodeChildrenIds = node.data.children_ids;

    for (const childrenId of nodeChildrenIds) {
      const childClone = structuredClone(allNodes[childrenId]);
      childClone.expanded = false;
      childClone.children = [];
      node.data.children.push(childClone);
    }
  }

  function render() {
    emptySvg();

    if (Object.keys(data).length == 0) return;

    const nodeSize = 20;
    const root = d3.hierarchy(data).eachBefore(
      ((i) => (d) => {
        if (d.index == undefined) {
          i += getYOffset(d);
          return (d.index = i);
        }
        return;
      })(0)
    );
    const nodes = root.descendants();
    let width = calculateSvgWidth(nodes, nodeSize) + 50;
    let height = calculateSvgHeight(nodes, nodeSize);

    if (width == 0) width = 350;
    if (height == 0) height = nodeSize * 2;

    console.log("height: ", height);
    console.log("width: ", width);

    const svg = d3.select("#tree-view-svg").attr("width", width).attr("height", height).attr("style", "height: auto; font: 15px sans-serif;");

    const link = svg
      .append("g")
      .attr("fill", "none")
      .attr("stroke", "#999")
      .selectAll()
      .data(root.links())
      .join("path")
      .attr(
        "d",
        (d) => `
        M${d.source.depth * nodeSize},${d.source.index * nodeSize + nodeSize}
        V${d.target.index * nodeSize + nodeSize}
        h${nodeSize}
      `
      );

    const node = svg
      .append("g")
      .selectAll()
      .data(nodes)
      .join("g")
      .attr("transform", (d) => `translate(0,${d.index * nodeSize + nodeSize})`)
      .on("click", (ev, d) => {
        d.data.expanded = !d.data.expanded;
        if (d.data.expanded) populateNodeChildren(d);
        else d.data.children = [];
        render();
      });

    node
      .append("rect")
      .attr("x", (d) => d.depth * nodeSize + 4)
      .attr("width", 11)
      .attr("height", 3)
      .attr("fill", (d) => (d.children ? null : "#999"));

    node
      .filter((d) => !d.data.expanded)
      .append("rect")
      .attr("x", (d) => d.depth * nodeSize + 8)
      .attr("y", (d) => -4)
      .attr("width", 3)
      .attr("height", 12)
      .attr("fill", (d) => (d.children ? null : "#999"));

    node
      .append("text")
      .attr("dy", "0.32em")
      .attr("x", (d) => d.depth * nodeSize + 20)
      .text((d) => d.data.name);

    node
      .filter((d) => d.data.expanded)
      .append("text")
      .attr("dy", "1.6em")
      .attr("x", (d) => d.depth * nodeSize + 20)
      .text((d) => {
        let retStr = "";

        for (const [key, value] of Object.entries(d.data.data)) {
          retStr += `${key}: ${value}\n`;
        }

        return retStr;
      });

    console.log(nodes);
  }

  render();
</script>
