html, body, #container {
    height: 100%;
}

#container {
    display: flex;
    padding: 0.5em;
}

#workspace-bar {
    margin-right: 1em;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

#left-panel {
    width: 20%;
    margin-right: 4em;
}

.vertical-container:last-child {
    flex-grow: 1;
}

#visualizer-select-panel .select, #visualizer-select-panel select {
    width: 100%;
}

#tree-view-panel {
    flex-grow: 2;
}
#bird-view-panel, #main-view-panel {
    flex-grow: 1;
}

a.row {
    display: flex;
    align-items: center;
}

a .material-symbols-outlined {
    margin-left: 0.5em;
}

.panel-block .button {
    margin-left: 2em;
    box-sizing: border-box;
    width: 8em;
}

.panel-block .filter-form {
    width: 100%;
}

#filter-attribute-input, #filter-value-input {
    width: 42.5%;
}

.filter-form .select {
    width: 15%;
}

.filter-form .select select{
    width: 100%;
}

#bird-view-panel {
    display: flex;
    flex-direction: column;
}

#bird-view-panel .panel-heading {
    flex: 0;
}

#bird-view-panel .panel-block {
    flex: 1;
    margin-bottom: 0;
}

.highlight {
    background-color: #efefef;
}

.filter-form {
    display: flex;
    align-items: center;
}

.active-filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.active-filters>* {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 0.5em;
}

#main-view-panel {
    display: flex;
    flex-direction: column;
}

#main-view-panel > div {
    flex-grow: 1;
}
