html, body, #container {
    height: 100%;
}

#container {
    display: flex;
    padding: 0.5em;
}

#workspace-bar {
    margin-right: 1em;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

#left-panel {
    width: 20%;
    margin-right: 4em;
}

.vertical-container:last-child {
    flex-grow: 1;
}

#visualizer-select-panel .select, #visualizer-select-panel select {
    width: 100%;
}

#tree-view-panel {
    flex-grow: 2;
}
#bird-view-panel, #main-view-panel {
    flex-grow: 1;
}

a.row {
    display: flex;
    align-items: center;
}

a#create-workspace .material-symbols-outlined {
    margin-left: 0.5em;
}

.panel-block .button {
    margin-left: 2em;
    box-sizing: border-box;
    width: 8em;
}

.panel-block .filter-form {
    width: 100%;
}

#filter-attribute-input, #filter-value-input {
    width: 45%;
}

.filter-form .select {
    width: 9.2%;
}

.filter-form .select select{
    width: 100%;
}

.highlight {
    background-color: #efefef;
}
.filter-form {
    display: flex;
    align-items: center;
}

.active-filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.active-filters>* {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 0.5em;
}

.link-button {
    display: inline-flex; /* Keeps the link button's internal alignment */
    align-items: center;
    justify-content: center;
}

.workspace-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workspace-name {
    flex-grow: 1;
}

.icons-container {
    display: flex;
    gap: 0;
}